npm publish --registry http://nexusaalb-283387229.us-west-2.elb.amazonaws.com/repository/dizzion-npm/
init.author.name = harshit
init.author.email = harshit.sahu1@rsystems.com
# an email is required to publish npm packages
email=harshit.sahu1@rsystems.com
always-auth=true
_auth=aGFyc2hpdDpIc2FodTc3QDMzNTU=